name: flutter_android_navigation_mode
description: Obtain Android System Navigation UI mode (3-button, 2-button, or gesture navigation).
version: 0.0.5
homepage: https://github.com/rodgh522/flutter_android_navigation_mode

environment:
  sdk: ^3.9.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.flutter_android_navigation_mode_new
        pluginClass: FlutterAndroidNavigationModeNewPlugin
      ios:
        pluginClass: FlutterAndroidNavigationModeNewPlugin
